<!-- Loads path to static files -->
{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="main.css"/>
		<title>Medical Database Login</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static 'personalInfo/main.css' %}">

		<link rel="icon" type="image/png" href= "../../static/personalInfo/MDIBlogo.png" >

	</head>

	<body>

		<header>
			<h1 style="font-size: 20px"> Medical Database Implementing Blockchain <img style="height: 70px; width: 70px;" src="../../static/personalInfo/MDIBlogo.png"/> </h1>
		</header>

		<div class="container z-depth-3">
				<img src="../../static/personalInfo/man.png"/>

			<form role="form" method="post" action=""{% url 'login' %}?next={{request.path}}">
				{% csrf_token %}
				<input type="text" name="username" placeholder="Username" id="{{ field.id_for_label }}" value="{{ field.value }}">
				<br>
				<input type="password" name="password" placeholder="Password" id="{{ field.id_for_label }}" value="{{ field.value }}">	
				<br>
				<input type="submit" value="Login" class="btn-login" />
			</form>
			<br>
				<a href="#">Forgot password? </a>
			</br>
		</div>

		<footer>
		<div class ="footer  z-depth-3">
			<p> Created by Traian Svinti and David Talan</p>
		</div>
		</footer>

		<script src="script.js"></script>
	</body>


</html>
