body {
   background-image: url("bg.jpg");
    margin: 0;
    height: 100%;
}
.row{
   width: 40%;
   height: 60%;
   text-align: center;
   color: white;
   background-color: rgba(52,73,94,0.7);
   border-radius: 15px;
   margin: 0 auto;
   font-family: sans-serif;
   margin-top: 50px;
}

.container {
    width: 500px;
    height: auto;
    text-align: center;
    background-color: rgba(52,73,94,0.7);
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 150px;

}

.textcontainer {
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
    height: auto;
    width: 970px;
    border-radius: 15px;
    padding: 10px;
}

.photocontainer {
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
    height: auto;
    width: 310px;
    background-color: #72cdd4;
    border-radius: 50%;
    padding: 10px;

}

.patientcontainer {
    width: 1108px;
    height: auto;
    text-align: left;
    background-color: rgba(52,73,94,0.7);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 10px;
    color: #fff;
    border-bottom: 4px solid #3bb1c6;
}
.z-depth-3 {
    -webkit-box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
}
.infoContainer {
    width: 700px;
    height: 180px;
    text-align: center;
    color: white;
    background-color: rgba(52,73,94,0.7);
    border-radius: 15px;
    margin: 0 auto;
    font-family: sans-serif;
    margin-top: 50px;
}

.container img {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-bottom: 20px;
    border-radius: 50%;
}

/* Style the tab */
.tab {
    margin-top: 30px;
    overflow: hidden;
    background-color: #2ECC71;
    border-radius: 20px;
    border-bottom: 4px solid #72cdd4;
}

/* Style the buttons that are used to open the tab content */
.tabbutton {
    font-family: sans-serif;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px 62px;
    transition: 0.3s;
    color: #fff;
    font-size: 20px;
}

.btn-login {
    margin-top: 10px;
    padding: 3px 78px;
    color: #fff;
    background-color: #2ECC71;
    border: none;
    border-radius: 35px;
    border-bottom: 4px solid #27AE60;

}

.btn-login:hover {
    transition: 0.3s;
    background-color: #27AE60;
    cursor: pointer;
}

.input {
  color: #fff;
  border-radius: 2px;
}

input[type=text] {
  border-radius: 35px;
  margin: 5px;
  text-align: center;
  font-family: sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-width: 0px;
}

input[type=password] {
   border-radius: 35px;
   margin: 5px;
   text-align: center;
   font-family: sans-serif;
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
   border-width: 0px;
}

.pickbtn {
    margin-top: 50px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    height: 80px;
    width: 220px;
    padding: 15px 25px;
    color: #fff;
    background-color: #2ECC71;
    border: none;
    border-radius: 15px;
    border-bottom: 4px solid #27AE60;
    font-family: sans-serif;
}
.pickbtn:hover {
    transition: 0.3s;
    background-color: #27AE60;
    cursor: pointer;
}

.logoutbtn {
    font-size: 20px;
    margin-right: 20px;
    margin-top: -55px;
    float: right;
    height: 50px;
    width: 100px;
    color: #fff;
    background-color: #2ECC71;
    border: none;
    border-radius: 15px;
    border-bottom: 4px solid #27AE60;
    font-family: sans-serif;
}

.logoutbtn:hover {
    transition: 0.3s;
    background-color: #27AE60;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    position: center;
}

p {
    font-family: sans-serif;
    color: white;
    padding: 15px 25px;
    background-color: rgba(52,73,94,0.7);
    border-radius: 8px;
}

.center {
    margin: auto;
    width: 73%;
    padding: 10px;
}

h1 {
    background-color: rgba(52,73,94,0.7);
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 35px;
    color: white;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: -30px;
    margin-top: 10px;
    -webkit-box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
}

h3 {
    color: #72cdd4;
}

.footer {
    width: 500px;
    text-align: center;
    margin: 10px auto;
    margin-top: 20px;
    border-radius: 25px;
}
