<!-- Loads path to static files -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Patient Profile</title>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<meta name="viewport" content="width-device-width, initial-src"/>

		<link rel="stylesheet" href="{% static 'personalInfo/main.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<link rel="icon" type="image/png" href= "../../static/personalInfo/MDIBlogo.png" >
	</head> 
	<body>
		<header>
			<h1 class="center" style="color: #fff; margin-top: 10px;"> {{ profile.fullName }}'s Profile </h1>
		</header>

		<button onclick = "location.href = 'http://127.0.0.1:8000/accounts/logout/';" class = "logoutbtn z-depth-3"> Logout </button>
		<br>

		<div class="patientcontainer z-depth-3" style= "background-color: rgba(52,73,94,0.7);">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#home" style= "color: #72cdd4; font-size: 35px;">General Information</a></li>
			    <li><a data-toggle="tab" href="#menu1"  style= "color: #72cdd4; font-size: 35px;" >Previous Doctors</a></li>
			    <li><a data-toggle="tab" href="#menu2"  style= "color: #72cdd4; font-size: 35px;">Ilnesses</a></li>
			    <li><a data-toggle="tab" href="#menu3"  style= "color: #72cdd4; font-size: 35px;">Medication</a></li>
			</ul>

			<div class="tab-content">
			    <div id="home" class="tab-pane fade in active">

			    	<div class="photocontainer" style = "margin-left: 350px; margin-top:20px">
						<img style="border-radius: 50%;" src="../../static/personalInfo/man.png"/>
					</div>

			    	<div>
				    	<h3 class="textcontainer">
					      	Name: {{ profile.fullName }} <br> <br>
							Address: {{ profile.address }} <br> <br>
							Gender: {{ profile.gender }} <br> <br>
							Date of Birth: {{ profile.dob }} <br> <br>
							Home Phone Number: {{ profile.homePhone }} <br> <br>
							Personal Phone Number: {{ profile.personalPhone }}<br>
						</h3>
					</div>

					<div style = "float: right; margin-top: -340px; margin-right: 30px;">
						<h3>
							Emergency Contact: {{ profile.emergencyContact }}<br> <br>
							Email Address: {{ profile.email }} <br> <br>
							PPSN: {{ profile.ppsn }}  <br> <br>
							Marital Status: {{ profile.maritalStatus }} <br> <br>
							Employment Status: {{ profile.employment }} <br>
						</h3>
					</div>
			    </div>

			    <div id="menu1" class="tab-pane fade">
			    	<div style="margin-bottom: 80px;">
				    	<h2 class="photocontainer">
				    		<img style="border-radius: 50%;" src="../../static/personalInfo/doctor.png" height="290"; width="290"/>
				    	</h2>
			
				    	<h2 class="textcontainer" style="margin-top: -280px; margin-left: 350px; width: 640px;">
				    		Name: {{ profile.curr_doc_name }} <br> <br>
				    		Phone Number: {{ profile.curr_doc_num }}<br> <br>
				    		Email Address: {{ profile.curr_doc_email }} <br> <br>
				    		Last visit: {{ profile.curr_last_visit }} <br> <br>
				    	</h2>
			   		</div>

			   		<div>
				    	<h2 class="photocontainer">
				    		<img style="border-radius: 50%;" src="../../static/personalInfo/doctor.png" height="290"; width="290"/>
				    	</h2>
			
				    	<h2 class="textcontainer" style="margin-top: -280px; margin-left: 350px; width: 640px;">
				    		Name: {{ profile.prev_doc_name }} <br> <br>
				    		Phone Number: {{ profile.prev_doc_num }}<br> <br>
				    		Email Address: {{ profile.prev_doc_email }} <br> <br>
				    		Last visit: {{ profile.prev_last_visit }} <br> <br>
				    	</h2>
			   		</div>

			      	<h2 type="button"  href= "" class="btn btn-success z-depth-3" style="font-size: 35px; border-radius: 50%; width: 60px; height: 60px; margin: 20px;">+</h2>
			    </div>

			    <div id="menu2" class="tab-pane fade">
			    	<h3 class="textcontainer" style="font-size: 30px;">
			      		List of known Ilnesses/Conditions:
			      	</h3>
			       	<h3 class="textcontainer" style="font-size: 50px;">
			      		{{ profile.illnesses }}
			      	</h3>
			    </div>

			    <div id="menu3" class="tab-pane fade">
			    	<h3 class="textcontainer" style="font-size: 30px;">
			      		List of medication prescribed to patient:
			      	</h3>
			       	<h3 class="textcontainer" style="font-size: 50px;">
			      		{{ profile.medicine }}
			      	</h3>
			    </div>
			</div>
		</div>

		<footer>
			<div class ="footer  z-depth-3">
				<p> Created by Traian Svinti and David Talan</p>
			</div>
		</footer>
	</body>
</html>
