
<!-- Loads path to static files -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Patient Profile</title>
      <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<meta charset="UTF-8">
		<meta name="viewport" content="width-device-width, initial-src"/>

		<link rel="stylesheet" href="{% static 'personalInfo/main.css' %}">
		<link rel="stylesheet" href="{% static 'personalInfo/font-awesome.css' %}">

	</head>
	<body>
		<header>
			<h1> {{ generalInfo.fullName }}'s Profile </h1>
			<div>
			<button onclick = "location.href = 'http://127.0.0.1:8000/accounts/logout/';" class = "logoutbtn z-depth-3"> Logout </button>
		</header>
		<br>

		<div class="tab z-depth-3">
		  <button class="tablinks" onclick="openRecord(rec, 'GeneralInfo')">General Information</button>
		  <button class="tablinks" onclick="openRecord(rec, 'PreviousDoctors')">Previous Doctors</button>
		  <button class="tablinks" onclick="openRecord(rec, 'Illness')">Illnesses</button>
		  <button class="tablinks" onclick="openRecord(rec, 'Medication')">Medication</button>


		</div>

<!-- Tab content -->
		<div id="GeneralInfo" class="tabcontent">
		  <h3>General Information</h3>
		  <div class="patientDetailsContainer z-depth-3">

			Name: {{ generalInfo.fullName }} <br> 
			Address: {{ generalInfo.address }} <br>
			Gender: {{ generalInfo.gender }} <br>
			Date of Birth: {{ generalInfo.dob }} <br>
			Home Phone Number: {{ generalInfo.homePhone }} <br>
			Personal Phone Number: {{ generalInfo.personalPhone }} <br>
			Emergency Contact: {{ generalInfo.emergencyContact }} <br>
			Email Address: {{ generalInfo.email }} <br>
			PPSN: {{ generalInfo.ppsn }} <br>
			marital Status: {{ generalInfo.maritalStatus }} <br>
			Employment Status: {{ generalInfo.employment }} <br>

</div>
		</div>

		<div id="PreviousDoctors" class="tabcontent">
		  <h3>Previous Doctors</h3>

		</div>

		<div id="Illness" class="tabcontent">
		  <h3>Illnesses</h3>
		  <p>Current Illnesses</p>
		</div>

		<div id="Medication" class="tabcontent">
		  <h3>Medication</h3>
		  <p>Current Medication</p>
		</div>



<script src="{% static 'personalInfo/script.js' %}"></script>
		<footer>
			<div class ="footer  z-depth-3">
				<p> Created by Traian Svinti and David Talan</p>
			</div>
		</footer>
	</body>
</html>
