<!-- Loads path to static files -->
{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<title>Medical Database Login</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width-device-width, initial-src"/>
		<link rel="stylesheet" href="{% static 'personalInfo/main.css' %}">
		<link rel="icon" type="image/png" href= "../../static/personalInfo/MDIBlogo.png" >
	</head>

	<body>
		<header>
			<h1> Medical Database </h1>
		</header>

			<div class="infoContainer z-depth-3">
				<button onclick = "location.href = 'http://127.0.0.1:8000/accounts/login/';" class = "pickbtn z-depth-3"> Existing Patient </button>
				<img src="../../static/personalInfo/MDIBlogo.png"/>
				<button onclick = "location.href = 'http://127.0.0.1:8000/admin';" class="pickbtn z-depth-3"> New Patient</button>
			</div>

		<footer>
			<div class ="footer  z-depth-3">
				<p> Created by Traian Svinti and David Talan</p>
			</div>
		</footer>
	</body>
</html>
