html {
    background: url(bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
}

.container {
    width: 500px;
    height: 300px;
    text-align: center;
    background-color: rgba(52,73,94,0.7);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 150px;
}

.infoContainer {
    width: 700px;
    height: 200px;
    text-align: center;
    color: white;
    background-color: rgba(52,73,94,0.7);
    border-radius: 15px;
    margin: 0 auto;
    font-family: sans-serif;
    margin-top: 50px;
}

.container img {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-bottom: 30px;
}


input[type="text"], input[name="password"] {
    height: 30px;
    width: 220px;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 20px;
}

input[type="text"], input[name="username"] {
    height: 35px;
    width: 200px;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 20px;
}

form-input:before {
    background: url(man.png);
    content: "\f007";
    position: absolute;
    font-family: "FontAwesome.css";
    font-size: 30px;
    color: #985986;
    padding-top: 5px;
    font-size: 35px;
}

.btn-login {
    padding: 15px 25px;
    color: #fff;
    background-color: #2ECC71;
    border: none;
    border-radius: 15px;
    border-bottom: 4px solid #27AE60;
}

.pickbtn {
    margin-top: 50px;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    height: 80px;
    width: 220px;
    padding: 15px 25px;
    color: #fff;
    background-color: #2ECC71;
    border: none;
    border-radius: 15px;
    border-bottom: 4px solid #27AE60;
}



a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

a:hover {
    color: coral;
    font-weight: bold;
}

p {
    font-family: sans-serif;
    color: white;
    padding: 15px 25px;
    background-color: rgba(52,73,94,0.7);
    border-radius: 8px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}


h1 {
    background-color: rgba(52,73,94,0.7);
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: -30px;
    margin-top: 10px;


}

footer {
    width: 500px;
    text-align: center;
    margin: 10px auto;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 15px;
    width: 25%;
    text-align: center;
    color: white;
    background-color: rgba(52,73,94,0.7);
    font-family: sans-serif;
    margin-top: 50px;
}

/* The Close Button */
.closeExist {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeExist:hover,
.closeExist:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.closeNew {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeNew:hover,
.closeNew:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}